#// // // // // // //
#// > c7h16_clangformat _
#// -------
#// clangformat for the c7h16 syntax
#// @ENDESGA 2023
#// // // // // // //

AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: None
AlignTrailingComments: Never
AlignOperands: DontAlign
AlignConsecutiveMacros: None
AlignEscapedNewlines: Left
AlignConsecutiveDeclarations: None

AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: true

AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: true

BinPackArguments: false
BinPackParameters: false

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterStruct: true
  AfterUnion: true
  BeforeElse: true
  BeforeWhile: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true

ColumnLimit: 0
ContinuationIndentWidth: 2

DerivePointerAlignment: false

IncludeBlocks: Preserve

IndentPPDirectives: BeforeHash
IndentAccessModifiers: false
IndentCaseBlocks: true
IndentCaseLabels: false
IndentWidth: 2
IndentWrappedFunctionNames: false

KeepEmptyLinesAtTheStartOfBlocks: false

MaxEmptyLinesToKeep: 1

PointerAlignment: Left

PPIndentWidth: 2

QualifierAlignment: Custom
QualifierOrder: ['volatile', 'static', 'inline', 'const', 'type' ]

ReferenceAlignment: Right

SortIncludes: Never

SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: Never
SpaceBeforeRangeBasedForLoopColon: false
SpaceInEmptyParentheses: false
SpaceAroundPointerQualifiers: Default
SpaceBeforeCaseColon: false

SpaceBeforeSquareBrackets: false
SpacesBeforeTrailingComments: 1
SpacesInCStyleCastParentheses: true
SpacesInContainerLiterals: true
SpacesInParentheses: true
SpacesInSquareBrackets: true
SpacesInConditionalStatement: true

TabWidth: 2

UseTab: Always
